{% extends "base.html" %}

{% block body %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
    {% include "navbar.html" %}
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <form method="post" action="">
          <div class="form-group">
            {% csrf_token %}
            <!-- <div><input name="name" type="text"></div>
            <div><input name="contact" type="text"></div>
            <div><input name="address" type="text"></div>
            <div><input name="description" type="TextField"></div> -->
            <!-- {{partner_form.as_p}} -->
            <div>
              <input class="form-control" type="text" name="name"
               value="{{partner.name}}"></div>
            <div>
              <input class="form-control" type="text" name="contact"
               value="{{partner.contact}}"></div>
            <div>
              <input class="form-control" type="text" name="address" 
               value="{{partner.address}}"></div>
            <div>
              <textarea name="description" cols="30" rows="10" style="width:100%"
               class="form-control">{{partner.description}}</textarea></div>
            <button type="submit" class="btn btn-default">저장하기</button>
          </div>
        </form>
      </div>
    </div>
    {% endblock %}
    </div>
  </div>
</div>
