{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="row">
        <ul class="nav nav-tabs nav-justified">
          <li><a href="/">all</a></li>
          <li><a href="/?category=kr">한식</a></li>
          <li><a href="/?category=ch">중식</a></li>
          <li><a href="/?category=jp">일식</a></li>
        </ul>
      {% for partner in partner_list %}
        {% if partner.user.is_active %}
        <div class="col-sm-4">
          <div>{{partner.name}}</div>
          <div>{{partner.address}}</div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
