<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <nav class="masthead clearfix">
      <div class="inner">
        <a href="/">
          <h3 class="masthead-brand">배민따라하기</h3>
        </a>
        <nav>
          <ul class="nav masthead-nav">
            <li><a href="/partner/">Home</a></li>
            <li><a href="/partner/menu">Menu</a></li>
            <li><a href="#">Order</a></li>
            <li><div style="width:30px;"></div></li>
            {% if user.is_authenticated %}
            <li>
              <a href="./logout">로그아웃</a>
            </li>
            {% else %}
            <li><a href="./login">로그인</a></li>
            <li><a href="./signup">회원가입</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</nav>
